* {
     padding:0;
     margin:0;
}
body {
    width:100vw;
    height:100vh;
}


.top {
    top:0;
    position:fixed;
    background-color:rgb(0,150,0);
    height: 40px;
    width:100%;
    text-align:center;
}
.top div {
    position: relative;
    height:100%;
    color:white;
    font-size:2rem;
    font-family:fantasy;
    padding:1%;
}

.center {
    position:fixed;
    overflow-y: scroll;
    margin-top: 40px;
    height: 94%;
    width:100%;
}
.rows {
  position: relative;
  height: 45vh;
  width:100%;
  border-bottom: 1px solid rgb(0,0,0);
  background-color: rgb(200,200,200);
}
.dates {
  display: block;
  font-size:2rem;
  font-family:fantasy;
}
.images {
  display: block;
  width: 100%;
  height: 80%;
  display: flex;
  overflow-x: scroll;
}
.rows:hover {
  height: 50%;
  transition: .5s;
}
.img-style:hover {
  box-shadow: 0 0 10px black;
}

.img-style {
    border-radius:10%;
    display:block;
    margin:2% 2%;
}
.view-all button {
  margin-top: 3px;
  margin-left: 5px;
  font-size: 1rem;
  font-family: fantasy;
  padding: 2px 2px;
  background-color: rgb(0,150,0);
  border:none;
  border-radius: 5px;
}
.view-all button:active {
  margin-top: 1px;
  margin-left: 3px;
  font-size: 1rem;
  font-family: fantasy;
  padding: 2px 2px;
  background-color: rgb(0,150,0);
  border:none;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 1000px) {
  html {
    display: none;
  }
  .top {
    height: 100px;
  }
  .top div {
    font-size:5rem;
  }
  .center {
    margin-top: 100px;
  }
  .dates {
    font-size: 5rem;
  }
  
  .view-all button {
  font-size: 3rem;
  border-radius: 20px;
  }
  .view-all button:active {
  font-size: 3rem;
  border-radius: 20px;
  }
}