* {
     padding:0;
     margin:0;
}
body {
    width:100vw;
    height:100vh;
}


.top {
    top:0;
    position:fixed;
    background-color:rgb(0,150,0);
    height:6%;
    width:100%;
    text-align:center;
    box-shadow:0 10px 30px black;
}
.top div {
    height:100%;
    color:white;
    font-size:2rem;
    font-family:fantasy;
    padding:1%;
}

.center {
    position:fixed;
    margin-top:6vh;
    height:94%;
    width:100%;
    overflow-x:scroll;
}
.row {
  height: 40%;
  width:100%;
  margin:2% auto;
}
.dates {
  margin:0 2%;
  font-size:2rem;
  font-family:fantasy;
}
.images {
  height: 100%;
  display:flex;
  overflow-y:scroll;
}
.row:hover {
  height: 50%;
  transition: 1s;
}
.imgs:hover {
  box-shadow: 0 0 10px black;
}

.imgs {
    border-radius:10%;
    display:block;
    margin:2% 2%;
}
